
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

h2, .theFunc{
    text-align: center;

}

.btnMessage{
    display: flex;
    justify-items: auto;
    padding: 0;
}

#btnClick{
    margin-right: 10px;
    
}

.myCounter,
.showMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myCounter button,
.showMessage div{
    margin-bottom: 5px;
}
